<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="../../view/style/sup.css">
        <title>Connexion</title>
        
    </head>
    <body>
    <header>
        <img src="../../media/logo ECEBOOK.png" alt="Logo" class="logo"> 
        <h1 >Identification</h1><br><br>
    </header>
    <div class="content">
        <div class="square">
     
       

        <form action="../../controller/admin/connect.php" method="post">
            mail : <input type="email" name="mail">
            password : <input type="password" name = "password">
            <br><br><input style="margin-left: 37%;" class="btn btn-primary btn-lg" name="validate" type="submit" value="Connexion">
        </form>
    </div>
</div>
        <br><br><br>
    </body>
    <footer>
    <a href="#">Tous droits reservés Wilfried,Ashley,Manal,Emmany,Naomy,Sofian </a>
    </footer>
</html>