<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <link rel="stylesheet" href="../../view/style/loginForm.css">
        <title>Connexion</title>
        
        <div class="textbox">
            <h1>CONNEXION ADMIN</h1>
            <h2>ECEBOOK helps you to connect,
                create, delete, modify a post and send message
            </h2> 
            </div>
            <div class="container">
            <div class="form">
     
        <form action="../../controller/admin/connect.php" method="post">
            mail : <input type="email" name="mail">
            password : <input type="password" name = "password">
            <br><br><input name="validate" type="submit" value="Connexion">
        </form>
    </div>
</div>
</div>
        
    </body>
    
</html>