/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #444;
    margin: 0;
  }
  
  /* Style du header */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
    width: 100%;
  }
 
  header h1 {
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    width: 100%;
    height: 50px;
   
  }
  .logo {
    height: 80px;
    margin-right: 10px;
  }
 
  
  /* Style du contenu */
  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
  }
  
  .square {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Style du footer */
  footer {
    background-color: #101010;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  /* Style général */
html, body {
    height: 100%;
    margin: 0;
  }
  
  /* Conteneur principal en flexbox */
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Contenu de la page */
  .content {
    flex: 1;
  }
  
  /* Footer */
  footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    margin-top: auto; /* Aligner le footer en bas de la page */
  }
  
  