* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
    width: 100%;
  }
 
  header h1 {
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    width: 100%;
    height: 50px;
   
  }
  .logo {
    height: 80px;
    margin-right: 10px;
  }
 
body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 16px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px);
}

.square {
    border: 2px solid rgb(11, 11, 11);
    padding: 20px;
    width: 400px;
    height: auto;
    margin: auto;
}


button[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: white;
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: black;
}