/* Style pour le header */
* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
    width: 100%;
  }
 
  header h1 {
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    width: 100%;
    height: 50px;
   
  }
  .logo {
    height: 80px;
    margin-right: 10px;
  }
 
  html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px);
}

.square {
    border: 2px solid rgb(11, 11, 11);
    padding: 20px;
    width: 400px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
}

button {
    align-self: flex-end;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: black;
}


